.notification {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-inline: 2rem;
  /* display: flex;*/
  /* gap: 1rem; */
  padding-inline: 2rem;
}

.profile__img {
  /* flex: 0 1 10%;
  height: 10%; */
  grid-row: 1 /3;
}

.notification__message {}


.notification__message span {
  color: var(--neutral-color-6);
  font-weight: var(--fw-800);
}

.content {
  font-size: 1rem;
  color: var(--neutral-color-6);
}

.content strong {
  font-size: 1rem;
  color: var(--neutral-color-7);
}

.time__active {
  color: var(--neutral-color-5);
  grid-area: 2 / 2;
}